# Session 1 - type, variable

### Values and Types

In [13]:
a = 5
print(type(a))  # int
b = 3.14
print(type(b))  # float
c = "Hello"
print(type(c))  # str
d = True
print(type(d))  # bool

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Numbers

In [14]:
a = 7
B = 100, 000, 000  # 100_000_000
c = 3.14
d = 0b1101  # binary
e = 0o755  # octal
f = 0x1A  # hexadecimal
print(a, b, c, d, e, f)

7 3.14 3.14 13 493 26

### Variables

In [15]:
name = "Alice"
age = 30
height = 1.75
is_student = False

print(name, age, height, is_student)

Alice 30 1.75 False

### Naming Rules

In [16]:
# 2things = 1          # invalid
# my-name = “alice”    # invalid
# Name = ”bob”         # case-sensitive
# name = ”charlie”
# int = 5              # keyword
# float = 3.14         # keyword

### Arithmetic Operations

In [17]:
addition = 7 + 3
subtraction = 5.5 - 2.5
multiplication = 3 * 4
division = 10 / 3
floor_division = 10 // 3
modulus = 10 % 3
exponentiation = 2**3
result = (2 + 3) * 4
print(
    addition,
    subtraction,
    multiplication,
    division,
    floor_division,
    modulus,
    exponentiation,
    result,
)

10 3.0 12 3.3333333333333335 3 1 8 20

### Type Conversion

In [18]:
num_int = 5
num_float = 2.0
result = num_int + num_float  # “5” + 2.0 TypeError
print("Result data type:", type(result))

num_str = "42"
num_int = int(num_str)
result = num_int + 10
print("Result:", result)

Result data type: <class 'float'>
Result: 52

### Comparison and Logical Operators

In [19]:
x = 5
y = 10
z = 15
result = x < y and y < z

print(result)

True

### Variables and Assignment

In [20]:
x = 5
y = x + 3
x = 7

print(x, y)

7 8

### Console Output

In [21]:
print("Hello, World!")
print("a", "b", "c", sep="-", end=" ")
print("d", "e", "f", sep="-")
print("A", "B", "C", sep=" -> ", end=" -> END")

Hello, World!
a-b-c d-e-f
A -> B -> C -> END

# Lab

1. Create a string variable called 'course_name' with the value "Python for Non-Majors", and print its length.

hint: len()

2. Rename the following invalid variable names to follow Python naming rules: 1st_name, @age, Full-Name, class, list.

3. Calculate the result of 5 multiplied by 3, divided by 2, and raised to the power of 4. Use parentheses to ensure correct precedence.


4. Print the values of three variables on the same line, separated by commas and a space.

	name = "Alice", age = 30, city = "New York"

5. Create a variable containing a string and reassign it to an integer.

6. Check the data type of a float variable and convert it to an integer.

7. Given an integer and a float, calculate their sum and product. Store the results in two separate variables and print them.

8. Use comparison and logical operators to evaluate a condition. The comparison should check if x is less than y, and if y is less than z. Print the value of result to the console.

	x = 10, y = 20, z = 30

# Session 2 - string

### string

In [22]:
single_quote = "Hello, World!"
double_quote = "Hello, World!"
multiline_string = """This is a
                      multiline string"""

# my_string[0] = "h"     # TypeError

print(single_quote, double_quote, multiline_string)

Hello, World! Hello, World! This is a
                      multiline string

### Concatenation and Repetition

In [23]:
greeting = "Hello" + " " + "World"
line = "-" * 20

print(greeting)
print(line)

Hello World
--------------------

### String Functions and Methods

In [24]:
s = "hello, world!"
length = len(s)
uppercase = s.upper()
replaced = s.replace("world", "there")
clean_str = s.strip().lower().replace(",", "").replace("!", "")  # chaining

print(length, uppercase, replaced, clean_str)

13 HELLO, WORLD! hello, there! hello world

### Indices and Slices

In [25]:
text = "Python"
first_char = text[0]
last_char = text[-1]
slice1 = text[1:4]
slice2 = text[::-1]

print(first_char, last_char, slice1, slice2)

P n yth nohtyP

### Format Method

In [26]:
name = "Alice"
age = 30
output = "{} is {} years old.".format(name, age)

print(output)

Alice is 30 years old.

### Format Specification and Field Width

In [27]:
x = 10
y = 5
output = "{0:<5} + {1:>5} = {2:^5}".format(x, y, x + y)

print(output)

10    +     5 =  15

### Floating-Point Numbers and Percentages

In [28]:
pi = 3.14159265
percentage = 0.85
formatted_pi = "{:.2f}".format(pi)
formatted_percentage = "{:.1%}".format(percentage)

print(formatted_pi)
print(formatted_percentage)

3.14
85.0%

### Escape Sequences

In [29]:
text = 'She said, "Hello!"'
multiline = "Line 1\nLine 2"

print(text)
print(multiline)

She said, "Hello!"
Line 1
Line 2

### Keyboard Input

In [30]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Hello,", name, "you are", age, "years old.")

Hello, SeworL you are 19 years old.

### Indentation

In [31]:
def print_hello():
    """
    Prints "Hello, world!" and "This is a properly indented block of code."
    """
    print("Hello, world!")
    print("This is a properly indented block of code.")



print_hello()

Hello, world!
This is a properly indented block of code.

### Line Joining

In [32]:
# Explicit line joining
long_string = "This is a very long string that we want to \
break into multiple lines for better readability."

# Implicit line joining
colors = [
    "red",
    "blue",
    "green",
]

print(long_string)
print(colors)

This is a very long string that we want to break into multiple lines for better readability.
['red', 'blue', 'green']

# Lab

1. Create a string of 10 asterisks using repetition, and print the length of the string.

	text = “*”

2. Convert a string to title case and print the result. hint: title()

	text = "hello world"

3. Slice a string to obtain every second character, starting from the first character.

	text = "Python is fun!"

4. Create a string containing double quotes and a newline character.

	text = This is a string with "double quotes" and a newline

5. Use the 'sep' argument in the print() function to print a list of items separated by commas.

	Items = apple, banana, orange

6. Get user input for a floating-point number and print its square.

7. Create a string 'email' and use string methods to replace '@' with ' [at] ' and '.' with ' [dot] '.

	email = "john.doe@example.com"

hint: replace() in str